  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --text-color: white;
    
    --stroke-color: rgba(255,255,255,0.5);
  
}


body{
height: 100¨%;
background: rgb(58,97,134);
background: linear-gradient(180deg, rgba(58,97,134,1) 25%, rgba(137,37,62,1) 74%);
background-size: cover;   
}

body* {

    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    
}


#container{
    width: 360px;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/*profile*/

#profile {

   text-align: center;

}

#profile img{

    width: 150px;
    border-radius: 100%;
     
}

#profile p{

    font-weight: 400;
    line-height: 32px;

}


/*liks*/

    ul{
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: 24px 0;
        
    }

    ul li a {

        font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 16px 24px;

        background:  rgb(0, 0, 0);  
        border: 1px solid var(--stroke-color);
        border-radius: 8%;

        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
   
        text-decoration: none;
        font-weight: 400;

    }

    /* pseudo-selector */

    ul li a:hover{
        background:  rgba(0, 0, 0, 0.3);
        border: 1.5px solid var(--text-color);
    }

    #social-links{

        display: flex;
        justify-content: center;
        gap: 16px;

        padding: 24px 0;

        font-size: 24px;
    
    }

    #social-links a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;

        transition: background o.2s;
        border-radius: 50%;
    }

    #social-links a:hover{
        background:  rgba(0, 0, 0, 0.3);
        padding: 16px;
        border-radius: 50%;
    }

    footer{
        
        font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
        
        padding: 24px;
        text-align: center;
    }


    .name{
        font-size: 1.5r;
    }